In [9]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis = 1).sum().reset_index(name=condition)
    df = df.rename(columns={'index': 'date'})
    return df

final_df = None

for condition in conditions:
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
final_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
498   6/3/21  172169929  3701630  109700897
499   6/4/21  172589646  3712569  110226256
500   6/5/21  172988007  3721736  110704680
501   6/6/21  173310648  3728885  111146013
502   6/7/21  173631266  3736961  111567881

[503 rows x 4 columns]

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      80841    3187    58998.0
1               Albania     132384    2452   129702.0
2               Algeria     131283    3527    91413.0
3               Andorra      13777     127    13557.0
4                Angola      35854     800    29329.0
..                  ...        ...     ...        ...
188             Vietnam       9027      53     3509.0
189  West Bank and Gaza     310026    3517   301881.0
190               Yemen       6812    1336     3588.0
191              Zambia     100765    1315    93694.0
192            Zimbabwe      39238    1611    36746.0

[193 rows x 4 columns]