In [17]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

countries_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
countries_df = countries_df.groupby("Country_Region").sum().reset_index()

In [20]:
countries_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      80841    3187    58998.0
1               Albania     132384    2452   129702.0
2               Algeria     131283    3527    91413.0
3               Andorra      13777     127    13557.0
4                Angola      35854     800    29329.0
..                  ...        ...     ...        ...
188             Vietnam       9027      53     3509.0
189  West Bank and Gaza     310026    3517   301881.0
190               Yemen       6812    1336     3588.0
191              Zambia     100765    1315    93694.0
192            Zimbabwe      39238    1611    36746.0

[193 rows x 4 columns]