In [15]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(condition, country):
    df = pd.read_csv("data/time_confirmed.csv")
    df = df.loc[df["Country/Region"] == country]
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=condition)
    df = df.rename(columns={"index": "date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
final_df

        date  confirmed  deaths  recovered
0    1/22/20          1       1          1
1    1/23/20          1       1          1
2    1/24/20          2       2          2
3    1/25/20          2       2          2
4    1/26/20          3       3          3
..       ...        ...     ...        ...
498   6/3/21     142852  142852     142852
499   6/4/21     143596  143596     143596
500   6/5/21     144152  144152     144152
501   6/6/21     144637  144637     144637
502   6/7/21     145091  145091     145091

[503 rows x 4 columns]

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      80841    3187    58998.0
1               Albania     132384    2452   129702.0
2               Algeria     131283    3527    91413.0
3               Andorra      13777     127    13557.0
4                Angola      35854     800    29329.0
..                  ...        ...     ...        ...
188             Vietnam       9027      53     3509.0
189  West Bank and Gaza     310026    3517   301881.0
190               Yemen       6812    1336     3588.0
191              Zambia     100765    1315    93694.0
192            Zimbabwe      39238    1611    36746.0

[193 rows x 4 columns]